/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

body.dark-mode {
  font-family: Arial, sans-serif;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pomodoro-clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafeff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

body.dark-mode .pomodoro-clock {
  background-color: #444;
  color: #fff;
}

.time-display {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.start-stop-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.start-stop-button.start {
  background-color: #4caf50;
}

.start-stop-button.stop {
  background-color: #e74c3c;
}

.start-stop-button:hover {
  opacity: 0.8;
}

.dark-mode-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.dark-mode-toggle svg {
  font-size: 24px;
}

.duration-buttons {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.duration-buttons button {
  margin-right: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100px;
  text-align: center;
}

.duration-buttons button:hover {
  background-color: #3e8e41;
}

/* .duration-buttons button input[type="number"] {
  width: 40px;
  height: 20px;
  margin-left: 10px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
} */

.control-buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-buttons button {
  margin-right: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100px;
  text-align: center;
}

.control-buttons button:hover {
  background-color: #3e8e41;
}

.start-stop-button {
  background-color: #4caf50;
}

.start-stop-button.stop {
  background-color: #e74c3c;
}

.pause-resume-button {
  background-color: #f1c40f;
}

.pause-resume-button.pause {
  background-color: #2ecc71;
}

.reset-button {
  background-color: #e74c3c;
}

.dark-mode .pomodoro-clock {
  background-color: #333;
  color: #fff;
}

.dark-mode .time-display {
  color: #fff;
}

.dark-mode .duration-buttons button {
  background-color: #555;
  color: #fff;
}

.dark-mode .control-buttons button {
  background-color: #555;
  color: #fff;
}
